In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\Layashree S\\APPLICATION OF SOFTWARE'

In [4]:
os.chdir("C:\Application of software")
os.getcwd()

'C:\\Application of software'

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\layashree s\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\layashree s\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df = pd.read_excel("churn_data.xlsx")
df

,Customer_ID,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Churn,Handset,Peak_calls_Sum,...,National_mins,AveNational,All_calls_mins,Usage_Band,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0,K100010,M,46,1999-07-18,15.066667,1,CAT 50,Churned,SOP10,14,...,58.637756,1.221620,60.081645,Low,-241.362244,11.161790,0.000000,0.433167,83.833167,1.395321
1,K100020,M,27,1997-09-18,37.333333,0,CAT 50,Churned,SOP10,54,...,60.590001,0.688523,70.369367,Low,-239.409999,11.508876,0.000000,2.933810,86.333810,1.226866
2,K100030,M,39,1996-08-23,50.366667,2,CAT 50,Churned,SOP20,44,...,137.400001,2.050746,154.001093,Low,-162.599999,10.283843,0.000000,4.980328,88.380328,0.573894
3,K100040,M,28,1998-08-18,26.200000,2,CAT 50,Churned,SOP10,44,...,137.400000,2.050746,154.001076,Low,-162.600000,10.283843,0.000000,4.980323,88.380323,0.573894
4,K100070,M,38,1999-10-14,12.133333,1,CAT 50,Churned,SOP20,68,...,64.394557,0.858594,71.067881,Low,-235.605443,13.753894,0.000000,2.001997,85.401997,1.201696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24994,K356720,M,49,1997-04-08,42.766667,0,CAT 200,Active,S50,575,...,1583.699999,2.403187,1622.298064,Med,383.699999,9.078424,34.833913,46.413332,196.413332,0.121071
24995,K356730,F,22,1998-07-13,27.400000,0,CAT 200,Active,WC95,415,...,1157.800000,2.533479,1313.523850,Med,-42.200000,7.912420,0.000000,46.717155,196.717155,0.149763
24996,K356740,M,13,1998-06-03,28.733333,7,CAT 200,Active,CAS30,375,...,1125.000002,2.647059,1153.551596,Med,-74.999998,8.746667,0.000000,8.565478,158.565478,0.137459
24997,K356750,M,58,1999-06-23,15.900000,0,CAT 200,Active,CAS30,763,...,1341.900003,1.608993,1448.069180,Med,141.900003,9.308071,13.208153,45.058906,195.058906,0.134703
24998,K356760,F,17,1999-11-13,11.133333,2,CAT 200,Active,WC95,534,...,1434.899999,2.214352,1548.918764,Med,234.899999,8.340999,19.593007,53.798637,203.798637,0.131575

In [7]:
# Basic Information
print("Shape of dataset:", df.shape)

Shape of dataset: (24999, 31)

In [8]:
print("Column information:\n", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_ID             24999 non-null  object
 1   Gender                  24999 non-null  object
 2   Age                     24999 non-null  int64
 3   Connect_Date            24999 non-null  datetime64[ns]
 4   L_O_S                   24999 non-null  float64
 5   Dropped_Calls           24999 non-null  int64
 6   tariff                  24999 non-null  object
 7   Churn                   24999 non-null  object
 8   Handset                 24999 non-null  object
 9   Peak_calls_Sum          24999 non-null  int64
 10  Peak_mins_Sum           24999 non-null  float64
 11  OffPeak_calls_Sum       24999 non-null  int64
 12  OffPeak_mins_Sum        24999 non-null  float64
 13  Weekend_calls_Sum       24999 non-null  int64
 14  Weekend_mins_Sum        24999 non-null  float64
 15  International_mins_Sum  24999 non-null  float64
 16  Nat_call_cost_Sum       24999 non-null  float64
 17  AvePeak                 24999 non-null  float64
 18  AveOffPeak              24999 non-null  float64
 19  AveWeekend              24999 non-null  float64
 20  National_calls          24999 non-null  int64
 21  National_mins           24999 non-null  float64
 22  AveNational             24999 non-null  float64
 23  All_calls_mins          24999 non-null  float64
 24  Usage_Band              24999 non-null  object
 25  Mins_charge             24999 non-null  float64
 26  call_cost_per_min       24981 non-null  float64
 27  actual_call_cost        24999 non-null  float64
 28  Total_call_cost         24999 non-null  float64
 29  Total_Cost              24999 non-null  float64
 30  average_cost_min        24999 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(6), object(6)
memory usage: 5.9+ MB
Column information:
 None

In [9]:
print("Basic descriptive statistics:\n", df.describe(include='all'))

Basic descriptive statistics:
        Customer_ID Gender           Age                   Connect_Date  \
count        24999  24999  24999.000000                          24999
unique       24999      2           NaN                            NaN
top        K100010      F           NaN                            NaN
freq             1  12523           NaN                            NaN
mean           NaN    NaN     30.348774  1998-01-16 23:09:39.335173504
min            NaN    NaN     12.000000            1996-01-01 00:00:00
25%            NaN    NaN     20.000000            1997-01-11 00:00:00
50%            NaN    NaN     28.000000            1998-01-18 00:00:00
75%            NaN    NaN     38.000000            1999-02-04 00:00:00
max            NaN    NaN     82.000000            1999-12-31 00:00:00
std            NaN    NaN     12.835550                            NaN

               L_O_S  Dropped_Calls   tariff   Churn Handset  Peak_calls_Sum  \
count   24999.000000   24999.000000    24999   24999   24999    24999.000000
unique           NaN            NaN        5       2      10             NaN
top              NaN            NaN  CAT 200  Active     S50             NaN
freq             NaN            NaN    11072   13933    5978             NaN
mean       33.301165       2.443538      NaN     NaN     NaN      244.262090
min         9.533333       0.000000      NaN     NaN     NaN        0.000000
25%        20.533333       0.000000      NaN     NaN     NaN       57.000000
50%        33.266667       1.000000      NaN     NaN     NaN      168.000000
75%        45.666667       2.000000      NaN     NaN     NaN      355.000000
max        58.200000      15.000000      NaN     NaN     NaN     1725.000000
std        14.255039       3.023947      NaN     NaN     NaN      244.695578

        ...  National_mins   AveNational  All_calls_mins  Usage_Band  \
count   ...   24999.000000  24999.000000    24999.000000       24999
unique  ...            NaN           NaN             NaN           4
top     ...            NaN           NaN             NaN         Med
freq    ...            NaN           NaN             NaN       22437
mean    ...    1060.086384      4.156837     1249.519651         NaN
min     ...       0.000000      0.000000        0.000000         NaN
25%     ...     642.200000      2.205000      755.725219         NaN
50%     ...     981.300000      2.950000     1149.740260         NaN
75%     ...    1409.999999      4.517320     1663.879089         NaN
max     ...    3550.800000     58.840909     4191.360148         NaN
std     ...     569.277973      3.938587      677.806441         NaN

         Mins_charge  call_cost_per_min  actual_call_cost  Total_call_cost  \
count   24999.000000       24981.000000      24999.000000     24999.000000
unique           NaN                NaN               NaN              NaN
top              NaN                NaN               NaN              NaN
freq             NaN                NaN               NaN              NaN
mean       97.575883          10.238101         20.923311        81.173701
min     -1749.600000           2.000000          0.000000         0.000000
25%      -118.500000           8.661073          0.000000        36.497065
50%        90.000000           9.639399          9.208732        67.116331
75%       312.900000          11.915609         32.681981       107.901938
max      2350.800000          25.000000        202.490395       474.433782
std       462.974996           2.120988         29.222683        63.784636

          Total_Cost  average_cost_min
count   24999.000000      24999.000000
unique           NaN               NaN
top              NaN               NaN
freq             NaN               NaN
mean      194.973415          0.223113
min        59.940000          0.064074
25%       131.330678          0.143628
50%       180.898005          0.160725
75%       244.775245          0.184736
max       624.433782         59.940000
std        86.560715          1.606291

[11 rows x 31 columns]

In [10]:
df.describe()

,Age,Connect_Date,L_O_S,Dropped_Calls,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,OffPeak_mins_Sum,Weekend_calls_Sum,Weekend_mins_Sum,...,National_calls,National_mins,AveNational,All_calls_mins,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
count,24999.000000,24999,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,...,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,24981.000000,24999.000000,24999.000000,24999.000000,24999.000000
mean,30.348774,1998-01-16 23:09:39.335173504,33.301165,2.443538,244.262090,724.225398,96.467099,288.708725,15.693348,47.152261,...,356.422537,1060.086384,4.156837,1249.519651,97.575883,10.238101,20.923311,81.173701,194.973415,0.223113
min,12.000000,1996-01-01 00:00:00,9.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-1749.600000,2.000000,0.000000,0.000000,59.940000,0.064074
25%,20.000000,1997-01-11 00:00:00,20.533333,0.000000,57.000000,327.000000,25.000000,132.600000,4.000000,20.000000,...,156.000000,642.200000,2.205000,755.725219,-118.500000,8.661073,0.000000,36.497065,131.330678,0.143628
50%,28.000000,1998-01-18 00:00:00,33.266667,1.000000,168.000000,632.400001,67.000000,258.000000,10.000000,40.200000,...,292.000000,981.300000,2.950000,1149.740260,90.000000,9.639399,9.208732,67.116331,180.898005,0.160725
75%,38.000000,1999-02-04 00:00:00,45.666667,2.000000,355.000000,1035.600000,141.000000,415.800000,22.000000,68.499999,...,486.000000,1409.999999,4.517320,1663.879089,312.900000,11.915609,32.681981,107.901938,244.775245,0.184736
max,82.000000,1999-12-31 00:00:00,58.200000,15.000000,1725.000000,2893.800001,647.000000,1146.000000,124.000000,205.000000,...,2014.000000,3550.800000,58.840909,4191.360148,2350.800000,25.000000,202.490395,474.433782,624.433782,59.940000
std,12.835550,NaN,14.255039,3.023947,244.695578,518.814193,93.471359,194.779293,16.380505,35.875937,...,266.150656,569.277973,3.938587,677.806441,462.974996,2.120988,29.222683,63.784636,86.560715,1.606291

In [11]:
list(df)

['Customer_ID',
 'Gender',
 'Age',
 'Connect_Date',
 'L_O_S',
 'Dropped_Calls',
 'tariff',
 'Churn',
 'Handset',
 'Peak_calls_Sum',
 'Peak_mins_Sum',
 'OffPeak_calls_Sum',
 'OffPeak_mins_Sum',
 'Weekend_calls_Sum',
 'Weekend_mins_Sum',
 'International_mins_Sum',
 'Nat_call_cost_Sum',
 'AvePeak',
 'AveOffPeak',
 'AveWeekend',
 'National_calls',
 'National_mins',
 'AveNational',
 'All_calls_mins',
 'Usage_Band',
 'Mins_charge',
 'call_cost_per_min',
 'actual_call_cost',
 'Total_call_cost',
 'Total_Cost',
 'average_cost_min']

### Check the duplicate values

In [13]:
df.duplicated().any()

False

### Checking null values

In [15]:
print(df.isnull().sum())

Customer_ID                0
Gender                     0
Age                        0
Connect_Date               0
L_O_S                      0
Dropped_Calls              0
tariff                     0
Churn                      0
Handset                    0
Peak_calls_Sum             0
Peak_mins_Sum              0
OffPeak_calls_Sum          0
OffPeak_mins_Sum           0
Weekend_calls_Sum          0
Weekend_mins_Sum           0
International_mins_Sum     0
Nat_call_cost_Sum          0
AvePeak                    0
AveOffPeak                 0
AveWeekend                 0
National_calls             0
National_mins              0
AveNational                0
All_calls_mins             0
Usage_Band                 0
Mins_charge                0
call_cost_per_min         18
actual_call_cost           0
Total_call_cost            0
Total_Cost                 0
average_cost_min           0
dtype: int64

In [23]:
df1 = df.dropna()

In [24]:
df1.isnull().sum()

Customer_ID               0
Gender                    0
Age                       0
Connect_Date              0
L_O_S                     0
Dropped_Calls             0
tariff                    0
Churn                     0
Handset                   0
Peak_calls_Sum            0
Peak_mins_Sum             0
OffPeak_calls_Sum         0
OffPeak_mins_Sum          0
Weekend_calls_Sum         0
Weekend_mins_Sum          0
International_mins_Sum    0
Nat_call_cost_Sum         0
AvePeak                   0
AveOffPeak                0
AveWeekend                0
National_calls            0
National_mins             0
AveNational               0
All_calls_mins            0
Usage_Band                0
Mins_charge               0
call_cost_per_min         0
actual_call_cost          0
Total_call_cost           0
Total_Cost                0
average_cost_min          0
dtype: int64

### Inter-quarter range

In [25]:
iqr_report = {}

In [26]:
for column in df1.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = df1[column].quantile(0.25)
    Q3 = df1[column].quantile(0.75)
    IQR = Q3 - Q1
    iqr_report[column] = {
        'Q1': Q1,
        'Q3': Q3,
        'IQR': IQR,
        'Lower Bound': Q1 - 1.5 * IQR,
        'Upper Bound': Q3 + 1.5 * IQR}

In [28]:
iqr_report_df = pd.DataFrame.from_dict(iqr_report, orient='index')
iqr_report_df

,Q1,Q3,IQR,Lower Bound,Upper Bound
Age,20.000000,38.000000,18.000000,-7.000000,65.000000
L_O_S,20.533333,45.666667,25.133334,-17.166668,83.366668
Dropped_Calls,0.000000,2.000000,2.000000,-3.000000,5.000000
Peak_calls_Sum,57.000000,355.000000,298.000000,-390.000000,802.000000
Peak_mins_Sum,327.600000,1036.199999,708.599999,-735.299998,2099.099997
OffPeak_calls_Sum,25.000000,141.000000,116.000000,-149.000000,315.000000
OffPeak_mins_Sum,132.600001,416.100000,283.499999,-292.649998,841.349999
Weekend_calls_Sum,4.000000,22.000000,18.000000,-23.000000,49.000000
Weekend_mins_Sum,20.000000,68.500000,48.500000,-52.750000,141.250000
International_mins_Sum,73.292063,268.719481,195.427418,-219.849064,561.860608
Nat_call_cost_Sum,0.000000,32.929760,32.929760,-49.394640,82.324400
AvePeak,1.981856,5.755556,3.773700,-3.678694,11.416106
AveOffPeak,1.954011,5.864706,3.910695,-3.912031,11.730749
AveWeekend,1.869231,5.250000,3.380769,-3.201922,10.321153
National_calls,157.000000,486.000000,329.000000,-336.500000,979.500000
National_mins,642.899999,1410.000001,767.100002,-507.750004,2560.650004
AveNational,2.206364,4.518605,2.312241,-1.261997,7.986966
All_calls_mins,756.312944,1664.632321,908.319377,-606.166122,3027.111387
Mins_charge,-117.899999,313.199998,431.099997,-764.549994,959.849993
call_cost_per_min,8.661073,11.915609,3.254536,3.779269,16.797413
actual_call_cost,0.000000,32.702889,32.702889,-49.054333,81.757222
Total_call_cost,36.574513,107.922644,71.348131,-70.447683,214.944840
Total_Cost,131.457270,244.840251,113.382981,-38.617202,414.914723
average_cost_min,0.143618,0.184679,0.041061,0.082026,0.246271

### Calculating percentile

In [30]:
numerical_columns = df1.select_dtypes(include=['float64', 'int64'])

In [31]:
percentiles = [0.01, 0.05, 0.1, 0.9, 0.95, 0.99]
percentile_values = numerical_columns.quantile(percentiles)

In [32]:
print("Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:")
percentile_values

Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:

,Age,L_O_S,Dropped_Calls,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,OffPeak_mins_Sum,Weekend_calls_Sum,Weekend_mins_Sum,International_mins_Sum,...,National_calls,National_mins,AveNational,All_calls_mins,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0.01,12.0,10.000000,0.0,1.0,27.0,0.0,0.000000,0.0,0.000000,2.517661,...,27.0,100.500002,1.573839,114.074287,-1010.240001,5.177408,0.000000,1.579388,63.004181,0.105342
0.05,14.0,12.000000,0.0,10.0,66.0,4.0,33.599999,0.0,0.000000,13.335815,...,57.0,256.799999,1.733480,296.490175,-807.000000,7.651629,0.000000,7.317427,76.339907,0.120777
0.10,16.0,13.900000,0.0,20.0,106.2,9.0,55.799999,1.0,4.800000,26.515187,...,85.0,382.499998,1.860000,442.279895,-433.999999,8.005556,0.000000,14.937348,92.548360,0.128241
0.90,49.0,53.166667,8.0,579.0,1439.4,231.0,570.599999,38.0,99.000000,396.334197,...,720.0,1833.900000,7.418421,2177.478147,632.100000,13.287199,55.932483,163.971503,312.123056,0.224422
0.95,55.0,55.700000,10.0,742.0,1705.2,288.0,646.200000,50.0,116.500002,477.779397,...,882.0,2110.499997,10.456250,2493.170880,910.499997,13.845438,81.034182,206.516055,356.125146,0.279326
0.99,66.0,57.706667,11.0,1078.0,2353.2,404.2,805.920000,73.0,147.600000,651.563960,...,1234.0,2673.420000,20.815019,3189.291885,1473.420000,14.679567,137.514607,304.618689,454.618689,0.637333

### Calculation of median

In [33]:
median = numerical_columns.median()
median

Age                         28.000000
L_O_S                       33.233333
Dropped_Calls                1.000000
Peak_calls_Sum             168.000000
Peak_mins_Sum              633.000000
OffPeak_calls_Sum           67.000000
OffPeak_mins_Sum           258.300000
Weekend_calls_Sum           10.000000
Weekend_mins_Sum            40.200000
International_mins_Sum     157.578101
Nat_call_cost_Sum            9.524075
AvePeak                      2.923846
AveOffPeak                   2.938278
AveWeekend                   2.760000
National_calls             292.000000
National_mins              982.200000
AveNational                  2.950820
All_calls_mins            1150.664323
Mins_charge                 90.399999
call_cost_per_min            9.639399
actual_call_cost             9.235677
Total_call_cost             67.197353
Total_Cost                 180.949567
average_cost_min             0.160702
dtype: float64

### Calculation of mode

In [34]:
mode = numerical_columns.mode().iloc[0]
mode

Age                        23.000000
L_O_S                      13.433333
Dropped_Calls               2.000000
Peak_calls_Sum             10.000000
Peak_mins_Sum               0.000000
OffPeak_calls_Sum           0.000000
OffPeak_mins_Sum            0.000000
Weekend_calls_Sum           0.000000
Weekend_mins_Sum            0.000000
International_mins_Sum      0.539299
Nat_call_cost_Sum           0.000000
AvePeak                     0.000000
AveOffPeak                  0.000000
AveWeekend                  0.000000
National_calls             98.000000
National_mins             693.000000
AveNational                 2.700000
All_calls_mins            147.902417
Mins_charge                93.000000
call_cost_per_min           5.000000
actual_call_cost            0.000000
Total_call_cost             0.215720
Total_Cost                 60.155720
average_cost_min            0.153337
Name: 0, dtype: float64

### Coeffecient of variance

In [35]:
co_of_var = numerical_columns.std() / numerical_columns.mean()
co_of_var

Age                       0.422933
L_O_S                     0.428117
Dropped_Calls             1.237824
Peak_calls_Sum            1.001054
Peak_mins_Sum             0.715610
OffPeak_calls_Sum         0.968225
OffPeak_mins_Sum          0.673880
Weekend_calls_Sum         1.043066
Weekend_mins_Sum          0.760105
International_mins_Sum    0.784913
Nat_call_cost_Sum         1.388034
AvePeak                   4.298654
AveOffPeak                2.992057
AveWeekend                1.683542
National_calls            0.745977
National_mins             0.536146
AveNational               0.946775
All_calls_mins            0.541594
Mins_charge               4.718289
call_cost_per_min         0.207166
actual_call_cost          1.395896
Total_call_cost           0.785038
Total_Cost                0.443511
average_cost_min          0.569689
dtype: float64

In [37]:
import numpy as np
def cap_outliers(df, lower_percentile=0.01, upper_percentile=0.99):
    for column in df.select_dtypes(include=[np.number]):  # Process only numeric columns
        lower_limit = df[column].quantile(lower_percentile)
        upper_limit = df[column].quantile(upper_percentile)
        df[column] = np.clip(df[column], lower_limit, upper_limit)
    return df

# Apply the capping
df_capped = cap_outliers(df)

print("Capped DataFrame:")
print(df_capped)

Capped DataFrame:
      Customer_ID Gender  Age Connect_Date      L_O_S  Dropped_Calls   tariff  \
0         K100010      M   46   1999-07-18  15.066667              1   CAT 50
1         K100020      M   27   1997-09-18  37.333333              0   CAT 50
2         K100030      M   39   1996-08-23  50.366667              2   CAT 50
3         K100040      M   28   1998-08-18  26.200000              2   CAT 50
4         K100070      M   38   1999-10-14  12.133333              1   CAT 50
...           ...    ...  ...          ...        ...            ...      ...
24994     K356720      M   49   1997-04-08  42.766667              0  CAT 200
24995     K356730      F   22   1998-07-13  27.400000              0  CAT 200
24996     K356740      M   13   1998-06-03  28.733333              7  CAT 200
24997     K356750      M   58   1999-06-23  15.900000              0  CAT 200
24998     K356760      F   17   1999-11-13  11.133333              2  CAT 200

         Churn Handset  Peak_calls_Sum  ...  National_mins  AveNational  \
0      Churned   SOP10              14  ...      94.787393     1.567757
1      Churned   SOP10              54  ...      94.787393     1.567757
2      Churned   SOP20              44  ...     137.400001     2.050746
3      Churned   SOP10              44  ...     137.400000     2.050746
4      Churned   SOP20              68  ...      94.787393     1.567757
...        ...     ...             ...  ...            ...          ...
24994   Active     S50             575  ...    1583.699999     2.403187
24995   Active    WC95             415  ...    1157.800000     2.533479
24996   Active   CAS30             375  ...    1125.000002     2.647059
24997   Active   CAS30             763  ...    1341.900003     1.608993
24998   Active    WC95             534  ...    1434.899999     2.214352

       All_calls_mins  Usage_Band  Mins_charge  call_cost_per_min  \
0          108.924424         Low  -241.362244          11.161790
1          108.924424         Low  -239.409999          11.508876
2          154.001093         Low  -162.599999          10.283843
3          154.001076         Low  -162.600000          10.283843
4          108.924424         Low  -235.605443          13.753894
...               ...         ...          ...                ...
24994     1622.298064         Med   383.699999           9.078424
24995     1313.523850         Med   -42.200000           7.912420
24996     1153.551596         Med   -74.999998           8.746667
24997     1448.069180         Med   141.900003           9.308071
24998     1548.918764         Med   234.899999           8.340999

       actual_call_cost  Total_call_cost  Total_Cost  average_cost_min
0              0.000000         1.520925   83.833167          0.666799
1              0.000000         2.933810   86.333810          0.666799
2              0.000000         4.980328   88.380328          0.573894
3              0.000000         4.980323   88.380323          0.573894
4              0.000000         2.001997   85.401997          0.666799
...                 ...              ...         ...               ...
24994         34.833913        46.413332  196.413332          0.121071
24995          0.000000        46.717155  196.717155          0.149763
24996          0.000000         8.565478  158.565478          0.137459
24997         13.208153        45.058906  195.058906          0.134703
24998         19.593007        53.798637  203.798637          0.131575

[24999 rows x 31 columns]